
## <summary>policy for dash</summary>


########################################
## <summary>
##	Transition to dash.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`dash_domtrans',`
	gen_require(`
		type dash_t, dash_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dash_exec_t, dash_t)
')


########################################
## <summary>
##	Execute dash server in the dash domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dash_initrc_domtrans',`
	gen_require(`
		type dash_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, dash_initrc_exec_t)
')


########################################
## <summary>
##	Search dash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dash_search_lib',`
	gen_require(`
		type dash_var_lib_t;
	')

	allow $1 dash_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read dash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dash_read_lib_files',`
	gen_require(`
		type dash_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, dash_var_lib_t, dash_var_lib_t)
')

########################################
## <summary>
##	Manage dash lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dash_manage_lib_files',`
	gen_require(`
		type dash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, dash_var_lib_t, dash_var_lib_t)
')

########################################
## <summary>
##	Manage dash lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`dash_manage_lib_dirs',`
	gen_require(`
		type dash_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, dash_var_lib_t, dash_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an dash environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`dash_admin',`
	gen_require(`
		type dash_t;
		type dash_initrc_exec_t;
		type dash_var_lib_t;
	')

	allow $1 dash_t:process { ptrace signal_perms };
	ps_process_pattern($1, dash_t)

	dash_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 dash_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, dash_var_lib_t)

')

