[Desktop Entry]
Type=Application
Name=Dash Masternode Tool
GenericName=Crytocurrency Wallet Utility
Name[en_US]=Dash Masternode Tool
GenericName[en_US]=Crytocurrency Wallet Utility
Comment=Manage and collateralize a Dash Masternode with a hardware wallet
Categories=Office;Finance;
TryExec=/usr/share/org.dash.dash_core.DashMasternodeTool/DashMasternodeTool
Exec=dash-masternode-tool-desktop-script.sh
Icon=org.dash.dash_core.DashMasternodeTool
MimeType=x-scheme-handler/dash;
Terminal=false
SingleMainWindow=true
StartupNotify=true
Version=1.5
