[Desktop Entry]
Name=Dash Masternode Tool
Comment=Manage and collateralize a Dash Masternode with a hardware wallet
GenericName=Crytocurrency Wallet Utility
Categories=Office;Finance;X-Cryptocurrency;X-Dash;
Exec=/usr/share/org.dash.dash_core.dash_masternode_tool/dash-masternode-tool-desktop-script.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=org.dash.dash_core.dash_masternode_tool
Name[en_US]=Dash Masternode Tool
GenericName[en_US]=Crytocurrency Wallet Utility
