[Desktop Entry]
Name=Dash
Comment=Dash peer-to-peer, payments-focused, fungible digital currency
Comment[fr]=Dash, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Dash, eşten eşe kriptografik sanal para birimi
Exec=dash-qt.wrapper.sh
Terminal=false
Type=Application
Icon=org.dash.Dashcore.dash-qt
MimeType=x-scheme-handler/dash;
Categories=Office;Finance;
X-Desktop-File-Install-Version=0.23
