[Desktop Entry]
Name=Dash Core Wallet
GenericName=Cryptocurrency Wallet
Comment=Full blockchain cryptocurrency wallet for dash—a peer-to-peer, payments-focused, fungible, digital currency
Exec=dash-wallet.wrapper.sh
Terminal=false
Type=Application
Icon=org.dash.dash_core
MimeType=x-scheme-handler/dash;
# https://specifications.freedesktop.org/menu-spec/latest/apa.html
Categories=Office;Finance;X-Cryptocurrency;X-Dash;X-Bitcoin;
StartupWMClass=Dash Core Wallet
StartupNotify=true

# .desktop spec: https://www.freedesktop.org/wiki/Specifications/desktop-entry-spec/
# .metainfo.xml spec: https://www.freedesktop.org/software/appstream/docs/

